@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:wght@700&display=swap');

%open-sans {
    font-family: 'Open Sans', sans-serif;
}

%playfair-display {
    font-family: 'Playfair Display', serif;
}

body {
    font-size: $font-size-root + px;
    @extend %open-sans;
}

h1 {
    font-size: $xx-large;
}

button {
    font-size: $medium;
}

h2 {
    font-size: $x-large;
    font-weight: $fw-regular;

    span {
        @extend %playfair-display;
        font-size: $xxx-large;

        @include media-breakpoint-up($bp-sm) {
            font-size: $xxxx-large;
        }
    }
}

form>div * {
    font-size: $small;
}