form {
    background-color: $white;
    color: $black-olive;
    width: 80%;
    margin: 2.5rem auto;
    padding: .25rem 2.5rem;
    border-radius: 4px;

    div {
        display: flex;
        flex-direction: column;
        padding-top: .75rem;
    }
    button{
        display: block;
        margin: 1rem auto;
    }
}